@inject IModalService ModalService

<div class="simple-form">

    <div class="form-group">
        <label for="name">Naziv</label>
        <input @bind="@todo.Name" type="text" class="form-control" id="name"  autocomplete="off"/>
    </div>

    <div class="form-group">
        <label for="description">Opis</label>
        <input @bind="@todo.Description" type="text" class="form-control" id="description" autocomplete="off" />
    </div>

    <button @onclick="@Save" class="btn btn-primary">Shrani</button>
    <button @onclick="@Cancel" class="btn btn-secondary">Prekliči</button>
</div>

@code {
    private TodoItem todo = new TodoItem();

    void Save()
    {
        todo.IsDone = false;
        todo.CreatedDate = DateTime.Now;

        ModalService.Close(ModalResult.Ok<TodoItem>(todo));
    }

    void Cancel()
    {
        ModalService.Cancel();
    }
}
